*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: antiquewhite;
	font-family: sans-serif,Arial;
}
form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
input{
	width: 100%;
	height: 40px;
	border: 1px solid rgba(0,0,0,.1);
	margin: 10px 0;
	padding-left: 15px;
	border-radius: 15px;
	outline: none;
}
/*========================================================CUSTOM END========================================*/
form>div{
	width: 100%;
	position: relative;
}
.errInfo{
	position: absolute;
	right: 30px;
	top: -7px;
	color: rgba(255,0,0,.7);
}
h3.errInfo{
	left:10px;
	top: -15px;
}
input[type="submit"]{
	font-size: 22px;
	color: #fff;
	cursor: pointer;
	background-color: #B73463;
	padding:0;
	text-transform: uppercase;
	letter-spacing: 2px;
	border: 1px solid transparent;
	transition: .5s;
}
input[type="submit"]:hover{
	color: #B73463;
	background-color: #fff;
	border-color: #B73463;
}
.form_container{
	width: 600px;
	margin: 200px auto;
	position: relative;
}
.gender,.gen_block{
	display: flex;
	align-items: center;
	justify-content: center;
}
.gender>input{
	width: 30px;
	height: 30px;
	margin: 5px;
}

/*===============================================================FORM END===============================*/



.imgfile{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
/*================================HIDE image upload INPUT=======================*/



#user_profile{
	display: flex;
	justify-content: space-around;
	padding: 110px 200px 0 200px;
}
.user_card{
	flex-grow: 0;
	margin-right: 150px;
	text-align: center;
	background-color: #fff;
	padding: 30px 28px;
	border-radius: 4px;
}
.user_update{
	flex-grow: 1;
}

.user_image{
	width: 300px;
	height: 300px;
	border-radius: 50%;
	margin:0 auto 10px;
}
.user_image>img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	box-shadow: 3px 3px 25px 0px;
}
label[for="img"]{
	color: #B73463;
	cursor: pointer;
}
label[for="img"]:hover{
	text-decoration: underline;
}
label[for="img"]:active{
	color: darkblue;
	text-decoration: none;
}
.fullName{
	font-size: 40px;
	font-weight: bold;
	margin: 20px 0;
}
.email{
	color: #9FA09F;
	margin: 25px 0;
}



























/*===============================================================log out button =================*/

.logout{
	position: absolute;
	left: 95%;
	top: 5%;
	transform: translate(-95%,-5%);
	width: 160px;
	height: 40px;
	background:#00072f;
	text-align: center;
	line-height: 40px;
	color: #555;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 6px;
	transition: 2s;
	border-radius: 40px;
	overflow: hidden;
}
.logout:hover{
	color: #fff;
	box-shadow: -15px 0 50px rgba(022,20,152,1);
}
.logout:before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background:rgba(022,20,152,0);
	filter: blur(4px);
	transition: 2s;
	z-index: -1;
}
.logout:hover:before{
	background:rgba(022,20,152,1);
	transform: scaleX(5);
}
.logout:after{
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background:rgba(122,0,255,0);
	filter: blur(4px);
	transition: 2s;
	z-index: -1;
}
.logout:hover:after{
	background: rgba(122,0,255,1);
	transform: scaleX(5);
}











/*======================================================ERROR PAGE============================================*/
section{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.errContainer{
	z-index: 999;
	width: 500px;
	height: 340px;
	background-image: url(../img/error_page/1.jpg);
	position: relative;
}
.errContainer>img{
	position: absolute;
}
.first{
	top: -64px;
	left: 12px;
}
h4,h4>a{
	align-self: flex-start;
	margin-top: 50px;
	font-size: 30px;
	color: darksalmon;
}